div.gallery {
    margin: 5px;
    border: 1px solid rgb(117, 185, 241);
    border-radius: 10px;
    float: left;
    width: 250px;
    height: 325px;
    direction: ltr;
  }

  div.gallery:hover {
    border: 1px solid #777;
    border-radius: 10px;
  }

  div.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  div.desc {
    padding: 15px;
    text-align: center;
  }
