components:
- name: Store
  params:
    host: localhost
    index: index-name
    port: 80
  type: ElasticsearchDocumentStore
- name: Retriever
  params:
    document_store: Store
    top_k: 10
  type: BM25Retriever
- name: Reranker
  params:
    batch_size: 32
    model_name_or_path: cross-encoder/ms-marco-MiniLM-L-12-v2
    top_k: 10
    use_gpu: true
  type: SentenceTransformersRanker
- name: Reader
  params:
    input_converter_tokenizer_max_len: 256
    max_length: 30
    min_length: 2
    model_name_or_path: /path/to/FiD/model
    num_beams: 1
    top_k: 1
    use_gpu: true
  type: FiDReader
- name: KGCreator
  params:
    model_name: studio-ousia/luke-large-finetuned-tacred
    use_gpu: true
    batch_size: 15
    max_length: 256
    spacy_package: en_core_web_sm
  type: LukeKGCreator
pipelines:
- name: my_pipeline
  nodes:
  - inputs:
    - Query
    name: Retriever
  - inputs:
    - Retriever
    name: Reranker
  - inputs:
    - Reranker
    name: Reader
  - inputs:
    - Reader
    name: KGCreator
version: 1.12.2
